@import "../../assets/scss/variables";

.auth {
  &-wrapper {
    background-color: $body-secondary-bg;
    min-height: 100%;
    padding: 5rem 0.625rem 2.5rem;
    width: 100%;
  }
}

[data-bs-theme="dark"] {
  .auth {
    &-wrapper {
      background-color: $body-secondary-bg-dark;
    }
  }
}
