/*** Imports ***/
@import "../../../assets/scss/variables";

.hamburger {
  align-items: center;
  background-color: transparent;
  border: none;
  color: $white;
  display: flex;
  justify-content: center;
  @include toRem(height, 44);
  @include toRem(width, 44);

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &:hover {
    .hamburger__bar {
      background-color: #bcbcbc;

      &::after,
      &::before {
        background-color: #bcbcbc;
      }
    }
  }

  &__bar {
    background-color: $white;
    position: relative;
    transform: rotate(0deg);
    width: 100%;
    @include toRem(border-radius, 8);
    @include toRem(height, 4);

    &::after,
    &::before {
      background-color: $white;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      @include toRem(border-radius, 8);
    }

    &::before {
      @include toRem(top, -12);
    }

    &::after {
      @include toRem(top, 12);
    }
  }

  &.open {
    &:hover {
      .hamburger__bar {
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }

    .hamburger__bar {
      background-color: transparent;

      &::before,
      &::after {
        background-color: #bcbcbc;
        top: 0;
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
