/*** Imports ***/
@import "../../assets/scss/variables";

.skip-nav-link {
  background-color: $primary;
  border-radius: 8px;
  color: $white;
  left: -99999px;
  padding: 10px 20px;
  position: absolute;
  top: -99999px;

  &:focus {
    left: 10px;
    top: 10px;
  }

  &:focus-visible {
    outline: none;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
