/*** Imports ***/
@import "../../assets/scss/variables";

.skip-nav-link {
  background-color: $primary;
  color: $white;
  position: absolute;
  text-align: center;
  @include toRem(border-radius, 8);
  @include toRem(left, -99999);
  @include toRem(top, -99999);
  @include toRem(width, 180);

  &:focus {
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    @include toRem(top, 10);
  }

  &:focus-visible {
    outline: none;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
