@import "./variables";

@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.toast-fade-enter,
.toast-fade-appear,
.toast-fade-exit-done {
  opacity: 0;
}

.toast-fade-enter-done,
.toast-fade-exit {
  opacity: 1;
}

.toast-fade-appear-active,
.toast-fade-enter-active {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.toast-fade-exit-active {
  opacity: 0;
  transition:
    opacity 0.25s ease-in-out,
    height 0.15s 0.3s ease-in-out;
}

.fade-enter,
.fade-appear,
.fade-exit-done {
  opacity: 0;
}

.fade-enter-done,
.fade-exit {
  opacity: 1;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.dropdown-fade-enter,
.dropdown-fade-appear,
.dropdown-fade-exit-done {
  opacity: 0;
  transform: translateY(-1.25rem);
}

.dropdown-fade-enter-done,
.dropdown-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-fade-appear-active,
.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.15s ease-in-out,
    transform 0.15s ease-in-out;
}

.dropdown-fade-exit-active {
  opacity: 0;
  transform: translateY(-1.25rem);
  transition:
    opacity 0.15s ease-in-out,
    transform 0.15s ease-in-out;
}
