/*** Imports ***/
@import "./variables";

.fade-enter,
.fade-appear,
.fade-exit-done {
  opacity: 0;
}

.fade-enter-done,
.fade-exit {
  opacity: 1;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.dropdown-fade-enter,
.dropdown-fade-appear,
.dropdown-fade-exit-done {
  opacity: 0;
  transform: translateY(-1.25rem);
}

.dropdown-fade-enter-done,
.dropdown-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-fade-appear-active,
.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.dropdown-fade-exit-active {
  opacity: 0;
  transform: translateY(-1.25rem);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}
