/*** Imports ***/
@import "./variables";

.slide-right-nav-enter,
.slide-right-nav-appear,
.slide-right-nav-exit-done {
  right: -100%;
}

.slide-right-nav-enter-done,
.slide-right-nav-exit {
  right: 0;
}

.slide-right-nav-appear-active,
.slide-right-nav-enter-active {
  right: 0;
  transition: right 0.3s ease-in-out;
}

.slide-right-nav-exit-active {
  right: -100%;
  transition: right 0.3s ease-in-out;
}
