/*** Imports ***/
@import "./variables";

.position-center,
.position-component-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position-component-center {
  margin-top: 42px;
}

.max-vh-100 {
  max-height: 100vh;
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}

.invalid-feedback {
  display: block;
}

.valid {
  border-color: $primary;
}

.button-link {
  background-color: transparent;
  border: 0;
  color: $link-color;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include toRem(margin-bottom, 16);
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }

  pre {
    background-color: #1c1e26;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #cbced0;
    padding: 0.75rem 0.75rem 0.75rem 3.125rem;
    position: relative;
    @include toRem(padding-left, 52);

    p {
      margin: 0;
    }
  }

  .pre {
    @include toRem(padding-left, 31.7);

    .language-lines {
      text-align: left;
      width: auto;
    }
  }

  .language-lines {
    pointer-events: none;
    position: absolute;
    text-align: right;
    @include toRem(top, 12);
    @include toRem(left, 12);
    @include toRem(width, 28);

    > span {
      color: #6f6f70;
      display: block;
      pointer-events: none;
    }
  }
}
