/*** Imports ***/
@import "./variables";

.position-center,
.position-component-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position-component-center {
  margin-top: 42px;
}

.max-vh-100 {
  max-height: 100vh;
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}

.invalid-feedback {
  display: block;
}

.valid {
  border-color: $primary;
}

.link {
  background-color: transparent;
  border: 0;
  color: $link-color;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
