@import "~bootstrap/scss/functions";
@import "./functions";

/*** Bootstrap ***/
$primary: #ca164c;
$secondary: #f9c8d7;
$body-color: #303030;

$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$enable-smooth-scroll: false;

@import "~bootstrap/scss/variables";
