/*** Imports ***/
@import "../../../assets/scss/variables";

.auth {
  &-container {
    background-color: $white;
    border: 2px solid $gray-300;
    border-radius: 8px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
    @include toRem(max-width, 400);
  }
}
