/*** Imports ***/
@import "../../../assets/scss/variables";

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  @include toRem(height, 84);
  @include toRem(max-width, 1320);
  @include toRem(padding, 20);

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }

  &__container {
    background-color: #282828;
    color: $white;
  }

  &__logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      @include toRem(margin-right, 20);
    }
  }
}
