@import "../../assets/scss/variables";

.auth {
  &-container {
    background-color: $body-bg;
    border: 2px solid $border-color;
    border-radius: 8px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
    @include toRem(max-width, 500);
  }
}

[data-bs-theme="dark"] {
  .auth {
    &-container {
      background-color: $body-bg-dark;
      border: 2px solid $border-color-dark;
    }
  }
}
