@import "../../../assets/scss/variables";

.toast {
  --bs-toast-bg: var(--#{$prefix}body-bg);

  display: block !important;

  .toast-header {
    border: none;
  }

  &-icon {
    @include toRem(font-size, 18);
    display: flex;
  }

  .toast-progress__wrapper {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .toast-body__wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    overflow: hidden;
  }

  &-progress {
    background-color: transparent;
    border-radius: 4px;
    height: 4px;
    overflow: hidden;
    width: 100%;

    &__bar {
      animation: progress linear forwards;
      background-color: $primary;
      height: 100%;
    }
  }

  &-success {
    .toast-icon {
      color: $green-600;
    }

    .toast-progress__bar {
      background-color: $green-600;
    }
  }

  &-danger {
    .toast-icon {
      color: $red-700;
    }

    .toast-progress__bar {
      background-color: $red-700;
    }
  }

  &-info {
    .toast-icon {
      color: $blue-600;
    }

    .toast-progress__bar {
      background-color: $blue-600;
    }
  }

  &-warning {
    .toast-icon {
      color: $yellow-500;
    }

    .toast-progress__bar {
      background-color: $yellow-500;
    }
  }

  &-primary {
    .toast-icon {
      color: $primary;
    }

    .toast-progress__bar {
      background-color: $primary;
    }
  }
}
