/*** Imports ***/
@import "../../../assets/scss/variables";

.nav {
  height: 100%;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-wrapper {
      background-color: #282828;
      margin: 0;
      overflow: hidden;
      position: fixed;
      right: -100%;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &-container {
      @include toRem(padding, 20);
    }
  }
}
