/*** Imports ***/
@import "../../../assets/scss/variables";

.nav {
  height: 100%;

  &--pointer-none {
    a {
      pointer-events: none;
    }
  }

  @include media-breakpoint-up(lg) {
    overflow: hidden;
    width: 100%;
    @include toRem(margin-right, -20);
  }

  &__list {
    height: calc(100vh - 5.5rem);
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(lg) {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-end;
      overflow-y: initial;
    }

    &-wrapper {
      background-color: #030303;
      margin: 0;
      overflow: hidden;
      position: fixed;
      right: -100%;
      top: 0;
      transition: right 0.3s ease-in-out;
      width: 100%;
      z-index: 1;

      &.open {
        right: 0%;
        transition: right 0.3s ease-in-out;
      }

      @include media-breakpoint-up(lg) {
        background-color: transparent;
        position: initial;
        right: initial;
        top: initial;
        transition: none;
      }
    }

    &-container {
      @include toRem(padding, 20);
      @include toRem(min-height, 84);

      @include media-breakpoint-up(lg) {
        min-height: auto;
        padding: 0;
      }
    }

    &-max-height {
      height: 100vh;

      @include media-breakpoint-up(lg) {
        height: 100% !important;
      }
    }
  }

  &__item {
    padding: 0 0.625rem;

    @include media-breakpoint-up(lg) {
      padding: 0;
      @include toRem(margin-left, 20);
    }
  }

  &__link {
    &-button {
      position: relative;
      z-index: 100;
    }

    &-image {
      @include toRem(width, 36);
      @include toRem(height, 36);
      align-items: center;
      display: flex;
      justify-content: center;

      svg {
        max-width: 100%;
      }

      @include media-breakpoint-up(lg) {
        @include toRem(width, 31);
        @include toRem(height, 31);
      }

      &-wrapper {
        @include media-breakpoint-up(lg) {
          @include toRem(margin-right, 20);
        }
      }
    }
  }

  .os-host {
    @include media-breakpoint-up(lg) {
      height: 100%;
      position: static;
    }

    .os-content {
      @include media-breakpoint-up(lg) {
        position: static;
      }
    }

    .os-viewport {
      @include media-breakpoint-up(lg) {
        overflow: visible !important;
      }
    }
  }
}
