@import "../../assets/scss/variables";

.editor-wrapper {
  border-radius: 8px;
  width: 100%;
  @include transition($btn-transition);

  &.focus {
    box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
      $input-btn-focus-color;
    outline: 0;
  }

  &.valid,
  &.focus {
    @include transition($btn-transition);

    .editor-toolbar,
    .EasyMDEContainer .CodeMirror {
      border-color: $primary;
      @include transition($btn-transition);
    }

    .EasyMDEContainer .CodeMirror {
      border-top-color: $primary;
      @include transition($btn-transition);
    }
  }
}

.CodeMirror {
  color: $body-color;
}

.cm-s-easymde .cm-link,
.cm-s-easymde .cm-quote {
  color: $body-color;

  &.CodeMirror-selectedtext {
    color: $body-bg;
  }
}

.cm-s-easymde .cm-url,
.cm-s-easymde .cm-tag {
  color: $primary;

  &.CodeMirror-selectedtext {
    color: $body-bg;
  }
}

.cm-s-easymde .cm-comment {
  background: fade-out($primary, 0.85);
  border-radius: 0;

  &.CodeMirror-selectedtext {
    background: $primary;
    color: $body-bg;
  }
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
  background: transparent;
  border: none;
}

span.CodeMirror-selectedtext,
.CodeMirror-selected {
  background: $primary;
  border: 1px solid $primary;
  border-radius: 0;
  color: $body-bg;
}

.editor-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.EasyMDEContainer .CodeMirror {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.editor-toolbar,
.EasyMDEContainer .CodeMirror {
  background-color: $body-bg;
  border-color: var(--bs-border-color);
  border-width: 2px;
}

.editor-toolbar {
  button {
    color: $body-color;

    &:hover,
    &.active {
      background-color: $body-bg;
      border-color: var(--bs-border-color);
    }
  }

  i.separator {
    border: none;
    border-left: 1px solid var(--bs-border-color);
  }
}

.editor-preview {
  background-color: $body-bg;

  pre {
    @include toRem(padding, 10);
    background: $body-secondary-bg;
    border: 1px solid $border-color;
    border-radius: 8px;
    color: $body-color;
  }
}

.CodeMirror-cursor {
  border-left: 1px solid $primary;
}

[data-bs-theme="dark"] {
  .CodeMirror {
    color: $body-color-dark;
  }

  .cm-s-easymde .cm-link,
  .cm-s-easymde .cm-quote {
    color: $body-color-dark;

    &.CodeMirror-selectedtext {
      color: $body-bg-dark;
    }
  }

  .cm-s-easymde .cm-url,
  .cm-s-easymde .cm-tag {
    &.CodeMirror-selectedtext {
      color: $body-bg-dark;
    }
  }

  .cm-s-easymde .cm-comment {
    &.CodeMirror-selectedtext {
      color: $body-bg-dark;
    }
  }

  span.CodeMirror-selectedtext,
  .CodeMirror-selected {
    color: $body-bg-dark;
  }

  .editor-toolbar,
  .EasyMDEContainer .CodeMirror {
    background-color: $body-bg-dark;
    border-color: var(--bs-border-color);
  }

  .editor-toolbar {
    button {
      color: $body-color-dark;

      &:hover,
      &.active {
        background-color: $body-bg-dark;
      }
    }
  }

  .editor-preview {
    background-color: $body-bg-dark;

    pre {
      background: $body-secondary-bg-dark;
      border: 1px solid $border-color-dark;
      color: $body-color-dark;
    }
  }
}
