@import "../assets/scss/variables";

/*** Content ***/
@import "./content/AppContent/index";

[data-bs-theme="dark"] {
  --scrollbar-theme: dark;
}

[data-bs-theme="light"] {
  --scrollbar-theme: light;
}

:root {
  color-scheme: var(--scrollbar-theme);
}

::selection {
  background-color: $primary;
  color: $body-bg;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
}

[data-bs-theme="light"] {
  .modal {
    background-color: $body-secondary-bg;
    --bs-modal-border-color: #{$border-color};
  }
}

[data-bs-theme="dark"] {
  .modal {
    background-color: $body-secondary-bg-dark;
    --bs-modal-border-color: #{$border-color-dark};
  }
}
