/*** Imports ***/
@import "../assets/scss/variables";

::selection {
  background-color: $primary;
  color: $white;
}

a {
  text-decoration: none;

  &.btn {
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}
